```twig
{% extends 'base.html.twig' %}

{% block title %}Gérer mon profil{% endblock %}

{% block body %}
<h1>Gérer mon profil</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom)
    {{ form_row(form.pseudo) }}
    {{ form_row(form.email) }}
    {{ form_row(form.motDePasse) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}

{% if app.flashes('success') %}
    <div class="alert alert-success">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}