{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-profile.css') }}">
{% endblock %}

{% block title %}Profil de {{ user.pseudo }}{% endblock %}

{% block main %}

    <article>
        <h2 id="user-profile-title">{{ user.pseudo }}</h2>
        <div id="profile-info">
            <img id="profileImage" src="{{ asset('assets/avatars/' ~ user.profileImage) }}" alt="">
            <table class="text20">
                <tr>
                    <td>Prenom:</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Nom:</td>
                    <td>{{ user.secondName }}</td>
                </tr>
                <tr>
                    <td>Telephone:</td>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Ville de rattachement:</td>
                    <td>{{ user.site.name }}</td>
                </tr>
            </table>
        </div>

    </article>

{% endblock %}
