{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/create-user.css') }}">
{% endblock %}


{% block main %}
    <h1>Edit Participant</h1>

<section id="user-form">
    <img id="profileImage" src="{{ asset('assets/' ~ participant.profileImage) }}" alt="">
    {{ include('inc/user-data-form.html.twig', {'button_label': 'Sauvegarder les modifications'}) }}
</section>
    <a href="{{ path('admin_page') }}">back to list</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
