{% extends 'base.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block main %}
    <h1>Détails de la sortie: {{ sortie.name }}</h1>
    <ul>
        <li><strong>Date de début:</strong> {{ sortie.dateHourStart|date('d-m-Y H:i') }}</li>
        <li><strong>Durée:</strong> {{ sortie.duration }} minutes</li>
        <li><strong>Date limite d'inscription:</strong> {{ sortie.dateLimitInscription|date('d-m-Y') }}</li>
        <li><strong>Nombre maximum d'inscriptions:</strong> {{ sortie.maxInscriptions }}</li>
        <li><strong>Informations supplémentaires:</strong> {{ sortie.info }}</li>
        <li><strong>Lieu:</strong> {{ sortie.place.name }}</li>
        <li><strong>Site:</strong> {{ sortie.site.name }}</li>
        <li><strong>Statut:</strong> {{ sortie.status.label }}</li>
        <li><strong>Organisateur:</strong> {{ sortie.organizer.name }}</li>
    </ul>

    <h2>Participants inscrits:</h2>
    <ul>
        {% for participant in sortie.participants %}
            <li>{{ participant.name }}</li>
        {% else %}
            <li>Aucun participant inscrit.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Retour</a>
{% endblock %}

