{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home-page.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}
{% block main %}

    <section id="user-date-field">
        <div>
            <p>Date du jour: {{ "now"|date("d-m-Y") }} </p>
            <p>Participant: {{ user.name }} {{ user.secondName }}</p>
        </div>
    </section>
    <div>
        <div id="filtering">
            <h2>Filtrer les sortis</h2>
            <img id="filterslogo" src="{{ asset('assets/filterslogo.png') }}" alt="filters">
        </div>

        {{ form_start(filters) }}
        <div id="filter-section" class="is-hidden">
            <div id="filters-first-col">
                {{ form_row(filters.site) }}
                {{ form_row(filters.search) }}
                <div id="dates-filter">
                    {{ form_row(filters.dateStart) }}
                    {{ form_row(filters.dateEnd) }}
                </div>

            </div>
            <div id="filters-second-col">

                {{ form_row(filters.choiseMeOrganisator) }}
                {{ form_row(filters.choiseMeInscribed) }}
                {{ form_row(filters.choiseMeNotInscribed) }}
                {{ form_row(filters.finishedEvents) }}
            </div>
            <div id="filters-third-col">
                <button id="search">Rechercher</button>
            </div>
        </div>

    <table>
        {{ form_end(filters) }}


    </div>


    <table id="sorties-table">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th id="invis">Clôture</th>
            <th id="invis">Inscrits/places</th>
            <th id="invis">Etat</th>
            <th id="invis">Inscrit</th>
            <th id="invis">Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            {% if sortie.status.label is not same as 'Archivée' %}
                <tr>
                    <td>{{ sortie.name }}</td>
                    <td>{{ sortie.dateHourStart | date('H-i / d-m-Y') }}</td>
                    <td id="invis">{{ sortie.dateLimitInscription | date('d-m-Y') }}</td>
                    <td id="invis">{{ sortie.participants | length }} / {{ sortie.maxInscriptions }}</td>
                    <td id="invis">{{ sortie.status.label }}</td>
                    {% if sortie.participants.user.id is defined %}
                        <td id="invis">Inscribed</td>
                    {% else %}
                        <td id="invis">Not inscribed</td>
                    {% endif %}
                    <td id="invis">{{ sortie.organizer.name }} {{ sortie.organizer.secondName }} </td>
                    <td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Détails</a>
                        {% endif %}
                        {% if sortie.status.id is same as 'Ouverte' and (sortie.organizer is not same as app.user or is_granted('ROLE_ADMIN') and sortie.participants.contains(app.user)) %}
                            <a href="{{ path('sortie_unregister', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                        {% if (sortie.status.id is same as 1 or sortie.status.id is same as 2) and (sortie.organizer is same as app.user or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}
                        {% if sortie.status.id is same as 1 and (sortie.organizer is same as app.user or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('sortie_publish', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}
                        {% if sortie.status.id is same as 2 and (sortie.organizer is not same as app.user or is_granted('ROLE_ADMIN') and not sortie.participants.contains(app.user)) %}
                            <a href="{{ path('sortie_register', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if sortie.status.id is not same as 4 and sortie.status.id is not same as 5 and sortie.organizer is same as app.user or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
            {% endif %}
                    </td>
                </tr>
        {% endfor %}
    </table>
    <a href="{{ path('sortie_create') }}">
        <button id="new-sortie">Créer une sortie</button>
    </a>

{% endblock %}
    {% block scripts %}
        <script src="{{ asset('scripts/home-page.js') }}"></script>
    {% endblock %}