<a href="{{ path('main_home') }}"><img id="weblogo" src="{{ asset('assets/weblogo.webp') }}" alt="logo"></a>
<h1 id="website-name"><a href="{{ path('main_home') }}">SORTIR</a></h1>

<nav class="text20">
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="navigation-links admin-links" href="{{ path('admin_page') }}">Espace administrateur
            <p class="small-admin-writing">Admin</p></a>
            </li>
            <li><a class="navigation-links admin-links" href="{{ path('main_home') }}">Villes
                <p class="small-admin-writing">Admin</p></a>
            </li>
            <li><a class="navigation-links admin-links" href="{{ path('main_home') }}">Sites
                <p class="small-admin-writing">Admin</p></a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <li><a class="navigation-links" href="{{ path('main_home') }}">Accueil</a></li>
        <li><a class="navigation-links" href="{{ path('app_participant', {id: app.user.id}) }}">Mon profil</a></li>
            <li><a class="navigation-links" href="{{ path('app_profile') }}">Mon profil a</a></li>

        <li><a class="navigation-links" href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}

                <li><a class="navigation-links" href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}

    </ul>
</nav>