<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Villes</a></li>
        <li><a href="{{ path('main_home') }}">Sites</a></li>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_home') }}">Mon profil</a></li>
        <li><a href="{{ path('main_home') }}">Créer nouveau profil</a></li>
        <li><a href="{{ path('main_home') }}">Se connecter</a></li>
        <li><a href="{{ path('main_home') }}">Se déconnecter</a></li>

    </ul>
</nav>